.mainContent {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 15%;
  padding-right: 15%;
  min-height: 100vh;
  padding-bottom: 5em;
  font-family: 'Dela Gothic One', cursive;
}

.mainPanel {
  width: calc(50% - 1em);
  margin-left: 1em;
  min-height: 50vh;
  background: rgb(36, 28, 21);
  border: 3px solid #ab8002;
  border-radius: 0.5em;
}

.panelTitle {
  background-size: cover;
  width: fit-content;
  margin: 0.5em auto auto;
  padding: 0.5em;
  color: rgb(254 247 177);
  width: 13em;
  text-align: center;
}

.rotating {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  } to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  } to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.imageDiv {
  width: 30%;
  margin-left: 2.5%;
  margin-top: 1em;
  height: 32em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

.inputImage {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
